<div>Hello <%=h @user.firstname %></div>

<div>Make a new request:</div>

<%= form_for @request do |req| %>

  <div>
    I would pay 
    <%= req.text_field :money, :size => 4 %> bucks
    to see
    <%= req.text_field :band_name, :value => '{this awesome band}' %>
    play in
    <%= req.text_field :place, :value => '{my location}' %>

    <%= submit_tag 'Make Request' %>
  </div>

<% end %>

<div>Your requests:</div>

<% for req in @user.requests %>
  <div>
    I would pay
    <%= req.money %> bucks
    to see
    <%= req.band_name %>
    play in
    <%= req.place %>
  </div>
<% end %>
