<div>Hello <%= @user.firstname %></div>

<div id="user-status">
  <%= link_to "View all requests", root_url %>
  /
  <%= link_to "Logout", logout_path %>
</div>

<%= form_for @request do |req| %>

  <div class="request">
    <span class="intro"> I </span>
    would pay 
    <%= req.text_field :money, :size => 4 %> bucks
    to see
    <%= req.text_field :band_name, :value => '{this awesome band}' %>
    play in
    <%= req.text_field :place, :value => '{my location}' %>

    <%= submit_tag 'Make Request' %>
  </div>

<% end %>

<br />

<% for req in @user.requests %>
  <%= render :partial => "requests/item", :locals => { :req => req, :intro_who => "You", :intro_verb => "would pay" } %>
<% end %>
