<div>Hello <%=h @user.firstname %></div>

<div id="user-status">
  <%= link_to "View all requests", root_url %>
  /
  <%= link_to "Logout", logout_path %>
</div>

<div>Make a new request:</div>

<%= form_for @request do |req| %>

  <div>
    I would pay 
    <%= req.text_field :money, :size => 4 %> bucks
    to see
    <%= req.text_field :band_name, :value => '{this awesome band}' %>
    play in
    <%= req.text_field :place, :value => '{my location}' %>

    <%= submit_tag 'Make Request' %>
  </div>

<% end %>

<br />

<% for req in @user.requests %>
  <div>
    You would pay
    <%= req.money %> bucks
    to see
    <%= req.band_name %>
    play in
    <%= req.place %>
  </div>
<% end %>
