<div class="request">
  <span class="intro"> <%= intro_who %> </span>
  <%= intro_verb %>
  <span class="money"> <%= req.money %> bucks </span>
  to see
  <span class="band"> <%= req.band_name %> </span>
  play in
  <span class="place"> <%= req.place %> </span>
</div>
