<%= form_for @request do |req| %>

  <div>
    I would pay 
    <%= req.text_field :money, :size => 4 %> dollars
    to see
    <%= req.text_field :band_name, :value => '{this awesome band}' %>
    play in
    <%= req.text_field :place, :value => '{my location}' %>

    <%= submit_tag 'Make Request' %>
  </div>

<% end %>
