<% if flash[:error] %>
  <p class="error"><%= flash[:error] %></p>
<% end %>

<%= link_to "Login/Signup", new_openid_path %>

<p>The request list</p>

<% for req in @aggregate_requests %>
  <div>
    <%=h req.count %>
    <% if req.count == 1 %>
      person wants
    <% else %>
      people want
    <% end %> 
    to see
    <%=h req.band_name %>
    play in
    <%=h req.place %>
  </div>
<% end %>
