<% if flash[:error] %>
  <p class="error"><%= flash[:error] %></p>
<% end %>

<%= image_tag("/images/Logo.jpg") %>

<div id="user-status">
  <% if logged_in %>
    <%= link_to "Your requests", user_url(user_id) %>
    /
    <%= link_to "Logout", logout_path %>
  <% else %>
    <%= link_to "Login/Signup", login_path %>
  <% end %>
</div>

<h2>The request list:</h2>

<% for req in @aggregate_requests %>
  <%= render :partial => "item", :locals => { :req => req, :intro_who => req.who, :intro_verb => req.verb } %>
  <br />
<% end %>
