<% if flash[:error] %>
  <p class="error"><%= flash[:error] %></p>
<% end %>

<%= image_tag("/images/Logo.jpg") %>

<div id="user-status">
  <% if logged_in %>
    <%= link_to "Your requests", user_url(user_id) %>
    /
    <%= link_to "Logout", logout_path %>
  <% else %>
    <%= link_to "Login/Signup", login_path %>
  <% end %>
</div>

<p>The request list</p>

<% for req in @aggregate_requests %>
  <div>
    <%=h req.count %>
    <% if req.count == 1 %>
      person wants
    <% else %>
      people want
    <% end %> 
    to see
    <%=h req.band_name %>
    play in
    <%=h req.place %>
  </div>
<% end %>
