<% if flash[:error] %>
  <p class="error"><%= flash[:error] %></p>
<% end %>

<p>Requests a band to play in your area!</p>

<%= render "new" %>

<p>List of requests</p>

<% for req in @aggregate_requests %>
  <%=h req.band_name %>
  <%=h req.place %>
  <div><%=h req.count %>
    <% if req.count == 1 %>
      request
    <% else %>
      requests
    <% end %> 
  </div>
  <div><%=h req.money %> dollars</div>
<% end %>
